
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: rgba(20,121,255,0.1);
    color: #434344;
    font-weight: 400; 
}

button {
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    background-color:rgb(20,121,255);
    border: none;
    box-shadow: 5px 5px 5px rgba(20,121,255,0.15), 5px 5px 5px rgba(20,121,255,0.15);
}
button:focus {
    outline: none;
}

/* Page Layout */

.container {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}

/* Main Section */

.wrapper {
    display: flex;
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(20, 121, 255, 0.12), 2px 20px 20px rgba(20, 121, 255, 0.12);
}

.main {
    flex: 5;
}

.main #add-button {
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main #random-button {
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
}

.sections {
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.sections::-webkit-scrollbar {
    
}

.main p {
    font-size: 1rem;
    margin-bottom: .75rem;
}

.section-item {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: #1479ff;
    border-radius: 10px;
    margin-right: 10px;
}

.section-item .section-input{
    padding:15px 20px;
    border: rgb(20,121,255) solid 2px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    outline-color: #fff;
    outline: none;
    font-weight: 700;
    color: #193b56;
    font-size: 20px;
    outline: none;
}

.section-item .section-input::placeholder {
    font-weight: 500;
    color: #eff0f3;
    font-size: 20px;
}

.section-item .remove-button {
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.section-item .remove-button:hover {
 
}

/* section-content */

.section-content {
    padding: 20px;
    padding-top:0;
    flex: 7;
    margin-right: 10%;
}

.section-content textarea {
    width: 100%;
    height: 100%;
    padding:30px 40px;
    margin-bottom: 20px;
    height: 400px;
    resize: none;
    font-size: 18px;
    background-color: #fff;
    border: rgb(20,121,255) solid 2px;
    outline: none;
    border-radius: 10px;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(20,121,255,0.15), 0 10px 20px rgba(20,121,255,0.15);
}

.section-content textarea:focus {
    outline: none;
};

.section-content .section-button {
    display: flex;
    flex-direction: row-reverse;
}

.section-content .section-button button{
    margin-left: 20px;
    padding: 10px 20px;
}

.logo {
  font-size: 2rem;
  margin-right: 1.5rem;
  color: #50c6db;
}

/* .summary */

.summary {
    text-align: left;
    padding: 20px 0;
    margin-top: 60px;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 5px;
    padding:20px 40px;
    box-shadow: 0 20px 20px rgba(20, 121, 255, 0.12), 2px 20px 20px rgba(20, 121, 255, 0.12);
    border-radius: 20px;
}

.summary p {
    color: #193b56;
    font-size: 12px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}


@media (max-width: 600px) {
    .wrapper {
        flex-direction: column;
    }

    .main {
        margin-right: 0;
        margin-bottom: 60px;
    }
}
