$base-color: #1479ff;
$shadow-color: rgba($base-color, 0.15);
$body-color: rgba($base-color, 0.11);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: rgba($base-color,0.1);
    color: #434344;
    font-weight: 400; 
}

button {
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    background-color:$base-color;
    border: none;
    box-shadow: 5px 5px 5px rgba($base-color,0.15), 5px 5px 5px rgba($base-color,0.15);
}
button:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba($base-color,0.1);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba($base-color,0.2);
}

/* You can add global styles to this file, and also import other style files */
/* MODAL STYLES
-------------------------------*/
app-modal {
    /* modals are hidden by default */
    display: none;
    .modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* z-index must be higher than .modal-background */
        z-index: 1000;
        
        /* enables scrolling for tall modals */
        overflow: auto;

        .modal-body {
            padding: 20px;
            background: #fff;
            height: 500px;
            /* margin exposes part of the modal background */
            margin: 100px 20%;

            .modal-header {
                position: relative;
                h1 {
                    font-weight: 300;
                    margin-bottom: 20px;
                }
                .close-button {
                    position: absolute;
                    top: -20px;
                    right: -15px;
                    cursor: pointer;
                }
            }
            #run-button {
                padding:10px 20px;
                margin-bottom: 10px;
                margin-top: 15px;
                width: 150px;
                margin:auto;
                text-align: center;
                border-radius: 5px;
                background-color: $base-color;
                font-weight: 700;
                color:#fff;
                font-size: 25px;
                cursor: pointer;
            }
        }        
    }
    .modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;
        
        /* z-index must be below .modal and above everything else  */
        z-index: 900;
    }
}
.preview-content {
    height: 380px;
    overflow-y: auto;
    p {
        padding-top: 20px;
        span {
            display: block;
            font-size: 20px;
            font-weight: 700;
        }
    }
}

body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

/* Page Layout */

.container {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}

/* Main Section */

.wrapper {
    display: flex;
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba($base-color, 0.12), 2px 20px 20px rgba($base-color, 0.12);
}

.main {
    flex: 5;
    #add-button {
        width: 60%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #random-button {
        margin-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 30%;
    }
}

.sections {
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.main p {
    font-size: 1rem;
    margin-bottom: .75rem;
}

.section-item {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: $base-color;
    border-radius: 10px;
    margin-right: 10px;
    .section-input{
        padding:15px 20px;
        border: $base-color solid 2px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        outline-color: #fff;
        outline: none;
        font-weight: 700;
        color: #193b56;
        font-size: 20px;
        outline: none;
    }
    ::placeholder {
        font-weight: 500;
        color: #eff0f3;
        font-size: 20px;
    }
    .remove-button {
        align-self: center;
        margin-left: 20px;
        margin-right: 20px;
        cursor: pointer;
    }
}
/* section-content */

.section-content {
    padding: 20px;
    padding-top:0;
    flex: 7;
    margin-right: 10%;
    textarea {
        width: 100%;
        height: 100%;
        padding:30px 40px;
        margin-bottom: 20px;
        height: 400px;
        resize: none;
        font-size: 18px;
        background-color: #fff;
        border: $base-color solid 2px;
        outline: none;
        border-radius: 10px;
        font-weight: 400;
        box-shadow: 0 10px 20px rgba($base-color,0.15), 0 10px 20px rgba($base-color,0.15);
        :focus {
            outline: none;
        };
    }
    .section-button {
        display: flex;
        flex-direction: row-reverse;
        button {
            margin-left: 20px;
            padding: 10px 20px;
        }
    }
}

.logo {
  font-size: 2rem;
  margin-right: 1.5rem;
  color: #50c6db;
}

/* .summary */

.summary {
    text-align: left;
    padding: 20px 0;
    margin-top: 60px;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 5px;
    padding:20px 40px;
    box-shadow: 0 20px 20px rgba($base-color, 0.12), 2px 20px 20px rgba($base-color, 0.12);
    border-radius: 20px;

    p {
        color: #193b56;
        font-size: 12px;
        padding: 10px;
        font-size: 20px;
        font-weight: 500;
    }
}

@media (max-width: 600px) {
    .wrapper {
        flex-direction: column;
    }

    .main {
        margin-right: 0;
        margin-bottom: 60px;
    }
}


#select-page {
    height: 500px;
    margin-top:100px;
    .section-content {
        display: flex;
        width: 100%;
        margin: auto auto;
        justify-content: center;
        input {
            width: 100%;
            border-radius: 5px;
            color: $base-color;
            font-weight: 400;
            border: $base-color solid 2px;
            padding:10px 20px;
            outline: none;
            font-size: 30px;
        }
        button {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
#url-input {
    position: relative;
    width: 50%;
    label {
        position: absolute;
        top:-40px;
        font-size: 20px;
    }
}